<div class="layout">
   <!-- Header -->
   <header class="header">
      <img src="../../img/logo.png"  class="logo" />
     <h1 class="app-title-prod">Prod</h1><h1 class="app-title-mate">Mate</h1>

       <!-- User Account Dropdown -->
    <div class="user-account">
      <img src="../../img/account.png" class="account-icon" />
      <div class="dropdown-content">
         <a href="#">My Account</a>
         <a href="#">Sign Out</a>
      </div>
   </div>

   </header>

   
 
   <!-- Navigation Tabs -->
   <nav class="nav-tabs">
     <button class="tab" routerLink="/production-lines">
       <img src="../../img/production_line_logo.png" class="nav-logo"> Production Lines
     </button>
     <button class="tab" routerLink="/stock-management">
      <img src="../../img/stock_logo.png" class="nav-logo"> Stock Management
     </button>
     <button class="tab" routerLink="/sales-reports">
      <img src="../../img/sales-report-logo.png" class="nav-logo"> 
        Sales Reports
     </button>
   </nav>
 
   <!-- Content -->
   <main class="content">
     <router-outlet></router-outlet>
   </main>

   <footer class="footer">
      © 2024 ProdMate | All rights copyrighted.
   </footer>

 </div>
 