<div class="stock-management">
   <h1>Stock Management</h1>
   <button (click)="openPopup()" class="btn-add">Add Material</button>
 
   <!-- Stok Listesi -->
   <div *ngIf="stocks.length > 0">
     <h2>Your Stocks</h2>
     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Purchase Price</th>
           <th>Actions</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let stock of stocks">
           <td>{{ stock.name }}</td>
           <td>{{ stock.purchasePrice | currency }}</td>
           <td>
            <button (click)="openEditPopup(stock)" class="btn-edit">Edit</button>
            <button (click)="deleteStock(stock.stockId)" class="btn-delete">Delete</button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
   <p *ngIf="stocks.length === 0">No stocks available.</p>
 
   <!-- Popup Form -->
   <div class="popup" *ngIf="showPopup">
     <div class="popup-content">
       <form [formGroup]="stockForm" (ngSubmit)="isEditMode ? updateStock() : addStock()">
         <label for="name">Material Name:</label>
         <input id="name" formControlName="name" type="text" />
 
         <label for="purchasePrice">Purchase Price(Unit):</label>
         <input id="purchasePrice" formControlName="purchasePrice" type="number" />
 
         <button type="submit" [disabled]="stockForm.invalid">{{ isEditMode ? 'Update' : 'Create' }}</button>
         <button type="button" (click)="closePopup()">Cancel</button>
       </form>
     </div>
   </div>
 </div>
 